version: '3.8'

services:
  db:
    container_name: snipit-db
    build:
      context: .
      dockerfile: Dockerfile.db
    image: postgres:14
    restart: always
    volumes:
      - ./postgres:/var/lib/postgresql/data
      - ./scripts/init.sh:/docker-entrypoint-initdb.d/init.sh
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}

  redis:
    container_name: snipit-redis
    image: redis

  app:
    container_name: snipit-app
    build:
      context: .
      dockerfile: Dockerfile.app
      args:
        RAILS_ENV: ${RAILS_ENV}
    restart: always
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_started
      redis:
        condition: service_started
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - SECRET_KEY_BASE=${SECRET_KEY_BASE}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - GMAPS_API_KEY=${GMAPS_API_KEY}
      - REDIS_URL=${REDIS_URL}

volumes:
  db:
  app:
