<div class="w-full items-center">
  <h1 class="w-full text-center">snip. snap. share.</h1>

  <%= render partial: "form", locals: {link: @link} %>

  <div id="links" class="mt-8 flex flex-col">
    <%= render @links %>

    <% if @pagy.pages > 1 %>
      <div class="pt-8 mb-16 text-center">
        <%== pagy_nav @pagy %>
      </div>
    <% end %>
  </div>
</div>