<div class="container mx-auto">
  <h1 class="text-2xl md:text-4xl font-semibold mb-12">about snipIt.</h1>
  <p class="text-md md:text-lg pb-4 font-base">hey there, welcome to snipIt – where sharing just got a whole lot cooler!</p>
  <p class="text-md md:text-lg pb-4 font-base">snipIt is the ultimate tool for transforming those long, clunky URLs into short, snazzy links that are super easy to share. no more struggling with endless web addresses – just snip, snap, and share the url!</p>
  <p class="text-md md:text-lg pb-4 font-base">why snipIt, you ask? well, aside from being seriously awesome, snipIt is all about making your online life simpler and more fun. whether you're posting on social media, texting your crew, or sharing links with your squad, snipIt's got your back.</p>
  <p class="text-md md:text-lg pb-4 font-base">i poured my heart and soul into creating snipIt, so you know every link you create is gonna be as epic as you are. plus, it's seriously addictive – once you start snipping and sharing, you'll never wanna stop!</p>
  <p class="text-md md:text-lg pb-8 font-base">life's too short for boring URLs – let's snip, snap, and share our way to awesomeness with snipIt!</p>
  <p class="text-md md:text-lg mb-4 font-base">keep snipping and snapping,</p>
  <p class="text-md md:text-lg mb-4 font-base">ariessa.</p>
</div>
